:root {
  --dark-blue-1: #1c2431; /* (intro and email sign up background) */
  --dark-blue-2: #181f2a; /* (main background) */
  --dark-blue-3: #0b1523; /* (footer background) */
  --dark-blue-4: #202a3c; /* (testimonials background) */

  /* Accent Colors */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  background-color: var(--dark-blue-2);
  width: 100%;
  height: 100%;
  color: var(--white);
}

.btn {
  width: 15rem;
  height: 3rem;

  color: var(--white);
  font-family: Raleway;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  margin: 2rem auto;
}

.btn--primary {
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(135deg, var(--cyan), var(--blue));

  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
}

.btn--primary:is(:hover, :focus-visible) {
  background-image: linear-gradient(135deg, var(--cyan), var(--cyan));
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
}
